.v-application {
  .text--anchor {
    color: var(--v-primary-base);
    cursor: pointer;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: initial;
  }
  .v-data-table {
    table {
      tr {
        td {
          border-bottom: thin dotted var(--v-secondary-base) !important;
        }
      }
    }
  }
}
